@model Linux_Server_Info.Models.ServerInfoModel
@{
    ViewData["Title"] = "Hardware";
}

<h1>CPU</h1>
<p>Type: @Model?.Cpu?.Type</p>
<p>Architecture: @Model?.Cpu?.Architecture</p>
<p>Architecture Type: @Model?.Cpu?.ArchitectureType</p>
<p>Hardware: @Model?.Cpu?.Hardware</p>
<p>Brand: @Model?.Cpu?.Brand</p>
<p>Usage: @Model?.Cpu?.Usage</p>
<p>Speed: @Model?.Cpu?.Speed</p>
<p>Temperature: @Model?.Cpu?.Temperature</p>

<h1>RAM</h1>
<p>Total RAM: @Model?.Ram?.Total</p>
<p>Free RAM: @Model?.Ram?.Free</p>
<p>Used RAM: @Model?.Ram?.Used</p>
<p>Ram Usage Percent: @Model?.Ram?.UsagePercent</p>

<h1>Storage</h1>
@if (Model?.Storage != null)
{
    @foreach (var storage in Model.Storage)
    {
        <p>Name: @storage?.Name</p>
        <p>Size: @storage?.Size</p>
        <p>Type: @storage?.Type</p>
        <p>Mountpoint: @storage?.Mountpoint</p>
        <p>FSType: @storage?.Fstype</p>
        <p>Used: @storage?.Used</p>
        <p>Free: @storage?.Free</p>
        <p>Usage Percent: @storage?.UsagePercent</p>
    }
}

<h1>Network</h1>
@if (Model?.Network != null)
{
    @foreach (var interfaceEntry in Model.Network)
    {
        <h2>Interface Name: @interfaceEntry.Key</h2>
        <p>Is Up: @interfaceEntry.Value.IsUp</p>
        <p>Speed: @interfaceEntry.Value.Speed</p>
    }
}
else
{
    <p>No Network Data Found</p>
}

<h1>System</h1>
<p>Name: @Model?.Os?.Name</p>
<p>Distribution: @Model?.Os?.Distribution</p>
<p>Kernel Version: @Model?.Os?.KernelVersion</p>
<p>Uptime: @Model?.Os?.Uptime</p>
