@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5, label {
    font-size: 24px;
}

p, span {
    font-size: 18px;
    line-height: 1.4;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    font-family: 'Nunito' !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 20px;
    background-color: #1C274C;
}

.container {
    background-color: #fff;
    top: 0;
    bottom: 0;
    padding: 10px;
    border-radius: 18px;
}

.card {
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #354475;
    color: white;
}

.graph-container {
    background-color: #85BDD3;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.graph-bar {
    background-color: #1C274C;
    border-radius: 25px;
    height: 30px;
    width: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.graph-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #85BDD3;
    width: 0%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: width 0.8s ease;
}

.graph-container span {
    position: absolute;
    color: white;
    font-weight: bold;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.left-pill {
    background-color: #1C274C;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    display: inline-block;
    color: white;
}

.right-pill {
    background-color: #1C274C;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: -20px;
    display: inline-block;
    color: white;
}

.ram-info {
    text-align: right;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
}

    .icon-text img {
        margin-right: 5px;
    }


.navbar-toggler {
    border: none;
    border-radius: 50%;
    background-color: #354475;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' linecap='round' stroke-miterlimit='10' d='M4 11h22M4 15h22M4 19h22'/%3E%3C/svg%3E");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.footer .container {
    text-align: center;
    font-size: 18px;
}

    .footer .container a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
    }

        .footer .container a:hover, .footer .container a:focus {
            color: inherit;
            text-decoration: none;
        }

.image-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sys-image {
    height: 130px;
    width: 130px;
    max-width: 100%;
}

.btn-primary {
    background-color: #1C274C;
    border-color: #1C274C;
    border-radius: 50px;
    font-size: 18px;
}

.switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.dark-mode-toggle label {
    display: inline-block;
    cursor: pointer;
}

/* Styling for the slider */
.slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #85BDD3;
    border-radius: 24px;
    margin-left: 50px;
}

    .slider::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        left: 1px;
        bottom: 1px;
        background-color: #1C274C;
        border-radius: 50%;
        transition: 0.4s;
    }

input:checked + .slider {
    background-color: #85BDD3;
}

    input:checked + .slider::after {
        transform: translateX(26px);
    }

.dark-mode-toggle label {
    display: flex;
    align-items: center; /* Vertically center the items */
    cursor: pointer;
}

/*
################################## 
Scrollbar
##################################
*/

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #85BDD3;
    }
