@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    font-family: 'Nunito' !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1C274C;
}

.container {
    background-color: #fff;
    top: 0;
    bottom: 0;
    padding: 10px;
    border-radius: 18px;
}

.card {
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #354475;
    color: white;
}

.graph-container {
    background-color: #85BDD3;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.graph-bar {
    background-color: #1C274C;
    border-radius: 25px;
    height: 30px;
    width: 100%;
    margin: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.5s ease;
}

.graph-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #85BDD3;
    width: 0%;
    transition: width 0.8s ease;
}

.graph-container span {
    position: absolute;
    color: white;
    font-weight: bold;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.left-pill {
    background-color: #1C274C;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    display: inline-block;
    color: white;
}

.right-pill {
    background-color: #1C274C;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: -20px;
    display: inline-block;
    color: white;
}

.ram-info {
    text-align: right;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
}

    .icon-text img {
        margin-right: 5px;
    }


/* Custom style for the navbar toggler */
.navbar-toggler {
    border: none; /* Removes the default border */
    border-radius: 50%; /* Makes it a circle */
    background-color: #354475; /* Sets a background color */
    width: 50px; /* Sets a specific width */
    height: 50px; /* Sets a specific height */
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers horizontally in the flex container */
    align-items: center; /* Centers vertically in the flex container */
    padding: 0; /* Removes padding */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' linecap='round' stroke-miterlimit='10' d='M4 11h22M4 15h22M4 19h22'/%3E%3C/svg%3E"); /* Sets the icon color to white */
    background-size: 150%; /* Adjust the size of the SVG icon */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
